.quick-actions button {
  background-color: #04aa6a;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.quick-actions button:hover {
  background-color: #028050;
  transition: all 0.5s ease;
}
